@using System;
@using Users.DAL;
@using Entities;
@using System.Drawing;
@using System.IO;
@{
    Layout = "~/Pages/_Mainlayout.cshtml";
    UserMemoryStorage myStorage = new UserMemoryStorage();
    User user = myStorage.GetUserByLogin(User.Identity.Name.ToString());
    List<byte[]> photos = myStorage.GetUsersPhoto(User.Identity.Name.ToString());

}

<head>
    <meta name="viewport" content="width=device-width" />
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <title>@user.Login</title>
    <style>
        section .hat {
            width: 900px;
            height: 330px;
            margin: 2px;
            margin-bottom: 1px;
        }

        section .avatarBlock {
            height: 300px;
            width: 225px;
            background-color: white;
            border-radius: 5px;
            padding: 10px;
            margin: 2px;
            position: absolute;
            border: 1px solid #D0D0D0;
        }

            section .avatarBlock .avatar {
                height: 100%;
                width: 100%;
                background-image: url(@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(user.Avatar)));
                background-size: cover;
                background-position: center;
                border-radius: 4px;
            }

        section .info {
            height: 320px;
            width: 641px;
            border: 1px solid #D0D0D0;
            border-radius: 5px;
            background-color: white;
            position: absolute;
            margin: 2px;
            left: 256px;
        }

        section .imageBoard {
            width: 895px;
            height: 100%;
            border: 1px solid #D0D0D0;
            border-radius: 5px;
            background-color: white;
            margin-left: 4px;
        }

            section .imageBoard .buttonBlock {
                height: 50px;
                width: 893px;
            }

            section .imageBoard button {
                width: 448px;
                height: 50px;
                background-color: white;
                font-size: 25px;
                margin: 0px;
                position: absolute;
                border: none;
                border-bottom: 2px solid black;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }

            section .imageBoard .imageBlock {
                width: 893px;
                position: relative;
            }

                section .imageBoard .imageBlock img {
                    width: 895px;
                }
    </style>
</head>
<div class="hat">
    <div class="avatarBlock">
        <div class="avatar"></div>
    </div>
    <div class="info">
        <h1 class="name">@user.Name @user.Surname</h1>
        <h1 class="status">@user.Status</h1>
        <h1>@user.Login</h1>
        <h1>@user.DateOfBirth.ToString("yyyy-MM-dd")</h1>
        <h1>@user.Email</h1>

    </div>
</div>

<div class="imageBoard">
    @foreach(byte[] photo in photos)
    {
        <img src=@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(photo)) style="width: 300px; height: 300px;" />
    }
    
</div>
<script>
    headButtonBlock.onmousedown = function () {
        return false;
    };
</script>
